:root {
    --color : rgb(169,7,7);
}


/* -----------------------LOGIN-PAGE----------------------- */
.blur-bg img{
    position: fixed;
    top: 0;
    left: 0;
    width: 105%;
    height: 120%;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.1s ease;
    backdrop-filter: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login-page {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-box {
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.login-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}


.button-container {
     z-index: 10; 
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;

}
.input-box label{
    position: absolute;
    top:50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top:-5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;

}

.input-box .icon
{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
} 

.remember-forget{

    margin: -15px 0 15px;
    font-size: .9em ;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input{
    margin-right: 3px;
}

.remember-forget a{
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover
{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;  
} 
.login:hover{
    background-color: var(--color);
}
